@font-face {
    font-family: monmon ;
    src: url(HaringtonSignatureDemo-e9VYO.otf);}
    @font-face {
        font-family: omnia;
        src: url(Mulish-VariableFont_wght.ttf);}
@keyframes marquee {
    0%{transform: translateX(100%);}
    100%{transform: translateX(-100%);}
}
#header 
{font-family: monmon; font-size: 8vw; font-style: oblique; font-weight: 800; text-align:center ; position: relative;
}     
.d
{ background-color: #056868; position: relative fixed; width: 100%; height: 50px; }
#scrollingbar
{width: 100%;  background-color:#012e2e; height: 100px;
 margin-top: 50px; border: 200px 200px ; color: white; 
font-size: 50px; font-family: omnia; font-style: oblique;
 border-radius: 5px; }
/* .w */
/* {animation: marquee linear 15s infinite ; 
    color: white; white-space: wrap; 
animation-timing-function: ease-in-out;} */
/* marquee */
/* {margin-top: 10px; margin-bottom: 10px;} */
.prop
{margin: auto; background-color: rgb(255, 252, 252); 
    border: 200px 200px; border-radius: 5px;
    font-family: omnia;}

.start
{ position: relative;
 background-image: url(pexels-thelazyartist-1302928.jpg); width: 97%; height: 700px; 
background-size: cover; border-radius: 3.75em; margin: 30px; }


.last
{ background-color:white; 
  border: 200px 200px; border-radius: 10px;
  margin-top:  50px ; width: 100%; height:500px
  ;
  font-family: omnia; position: relative;}

 .i
 {position: absolute; bottom: 10px; left: 30px; color: #012e2e;} 

 .lists
 {position: absolute; left: 700px; top: 5px; font-size: 20px; color: black; 
    font-family: omnia;
}
.list2
{position: absolute; left: 1000px; top: 5px; font-size: 20px; color: black; 
    font-family: omnia;}
a
{text-decoration: none; color: black;}

li
{list-style-type: none; color: grey; position: absolute;}


.dropbtn {
    position: relative;top: 400px; left: 1200px;
    background-color:#012e2e ;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 2em;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;top: 300px; left: 1200px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color:#056868;
  }